*{
    margin: 0 auto;
    padding: 0;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery{
    width: 1440px;
    padding: 0 130px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 24px;
}
.gallery li {
    width: 360px;
    height: 200px;
}
.gallery li img{
    width: 360px;
    height: 200px;
    transition: transform .3s ease;
    
}
.gallery li img:hover{
    transform: scale(1.04);
}